personas.dtd

<!ELEMENT personas (persona+)>
<!ELEMENT persona (nombre, apellido, edad, email, germans*)>
<!ATTLIST persona aficions (programacio|circ|pastissos|claque) #IMPLIED>
<!ATTLIST persona edat CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT germans (persona*)>